<!DOCTYPE html>
<html ng-app="pokesearch">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Pokésearch - Search for Pokémon!</title>
	<script src="node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="node_modules/angular/angular.min.js" type="text/javascript"></script>	
	<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js" type="text/javascript"></script>	
	<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js" type="text/javascript"></script>	
	<script src="pokesearch.app.js" type="text/javascript"></script>
	<link rel="icon" href="assets/images/favicon-pokeball.ico" type="image/x-icon">	
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="styles/styles.css">
</head>
<body ng-controller="MainController">

<header>
	<img id="main-logo" src="assets/images/pokesearchlogo.svg" alt="PokeSearch">
	
	<form id="search-form" ng-submit="fetch()">
		<input class="form-control" type="text"
			   placeholder="Search Pokemon"
			   ng-model="search"
			   uib-typeahead="pokemon for pokemon in predictpokemon | filter:$viewValue | limitTo:8"
			   typeahead-on-select="fetch()"
			   onclick="select()">
		<!-- <input type="submit"> -->
		<span class="glyphicon glyphicon-search"
			  aria-hidden="true"
			  ng-click="fetch()"></span>
		<span class="sr-only">Search:</span>

	</form>
</header>

<div class="container" ng-include="'app/partials/results.html'"></div>

</body>
</html>