<header>
	<img id="main-logo" src="assets/images/pokesearchlogo.svg" alt="PokeSearch">
	
	<form id="search-form" ng-submit="fetch()">
		<input class="form-control" type="text"
			   placeholder="Search Pokemon"
			   ng-model="$parent.search"
			   uib-typeahead="pokemon for pokemon in predictpokemon | filter:$viewValue | limitTo:8"
			   typeahead-on-select="fetch()"
			   onclick="select()">
		<!-- <input type="submit"> -->
		<span class="glyphicon glyphicon-search"
			  aria-hidden="true"
			  ng-click="fetch()"></span>
		<span class="sr-only">Search:</span>

	</form>
</header>

<!-- loading -->
<div ng-if="!pokemon && !serviceError" class="messages">
  <img src="assets/images/loader.gif" />
  <p>Loading...</p>
</div>

<!-- error -->
<p class="bg-warning" ng-if="serviceError">{{ serviceError }}</p>

<!-- content -->
<div ng-if="pokemon" class="container">
	
	<section id="main-pokemon" class="col-xs-5 col-sm-6">
		<h3 ng-if="pokemon.id < 722">#{{ pokemon.id | numLength:3}}</h3>

		<img id="pokemon-art" ng-src="assets/pokemon/{{pokemon.id}}.png" />

		<div id="types">
			<i class="type {{ types.type.name }}" ng-repeat="types in pokemon.types">
				{{types.type.name}}
			</i>
		</div>
	</section>

	<section id="base-stats" class="col-xs-7 col-sm-6">
		<h3>Base Stats</h3>
		<ul id="base-stats">
			<li ng-repeat="stats in pokemon.stats | orderBy:'-'" class="{{stats.stat.name}}">
				<div class="stat-title">{{stats.stat.name}}:</div>
				<span class="stat-no"> {{stats.base_stat}} </span>
				<div class="stat-bar" style="width:{{stats.base_stat}}px;"></div>
			</li>
		</ul>
	</section>
	
	<section id="evolution-chain" class="col-xs-12">
			<h3>Evolution Chain</h3>
			
			<!-- loader -->
			<div ng-if="pokemonEvoChain == '' " class="messages">
			  <img src="assets/images/loader.gif" />
			  <p>Loading...</p>
			</div>

			<div ng-repeat="evo in pokemonEvoChain" class="evo-chain-link">
				
				<a ng-click="changePokemon(evo.species_name)">
					<div class="evo-item" ng-if="!evo.details">
						<img ng-src="assets/pokemon/sprites/{{ getPokemonIdFromUrl(evo.species_url) }}.png"
						err-src="assets/images/noimage.png" />
						<strong>{{evo.species_name | capitalize}}</strong>
						<p>Start</p>
					</div>
				</a>

				<a ng-click="changePokemon(evo.species_name)">
					<div class="evo-item" ng-if="evo.details">
						<img ng-src="assets/pokemon/sprites/{{ getPokemonIdFromUrl(evo.species_url) }}.png"
						err-src="assets/images/noimage.png" />
						<strong>{{evo.species_name | capitalize}}</strong>
						
						<ul class="evolution-triggers">
							<li ng-if="(evo.details.trigger.name !== 'use-item') && (!evo.details.min_level) ">{{evo.details.trigger.name | dehyphenate}}</li>
							<li ng-if="evo.details.min_level"> level {{evo.details.min_level}} </li>
							<li ng-if="evo.details.item.name"> {{evo.details.item.name | dehyphenate}} </li>
							<li ng-if="evo.details.min_happiness"> high friendship </li>
							<li ng-if="evo.details.min_beauty"> beauty </li>
							<li ng-if="evo.details.held_item"> holding {{evo.details.held_item.name}} </li>
							<li ng-if="evo.details.trade_species"> for {{evo.details.trade_species.name}} </li>
							<li ng-if="evo.details.location"> near {{evo.details.location.name | dehyphenate}} </li>
							<li ng-if="evo.details.time_of_day === 'day' ">during the day</li>
							<li ng-if="evo.details.time_of_day === 'night' ">at night</li>
							<li ng-if="evo.details.known_move_type">knows {{evo.details.known_move_type.name}} move </li>
							<li ng-if="evo.details.min_affection"> {{ evo.details.min_affection }} &hearts; in Pokémon Amie </li>
							<li ng-if="evo.details.known_move">knows {{evo.details.known_move.name}} </li>
							<li ng-if="evo.details.needs_overworld_rain"> overworld rain </li>
							<li ng-if="evo.details.gender === 1"> if female </li>
							<li ng-if="evo.details.relative_physical_stats === -1"> Attack < Defense </li>
							<li ng-if="evo.details.relative_physical_stats === 1"> Attack > Defense </li>
							<li ng-if="evo.details.relative_physical_stats === 0"> Attack = Defense </li>
							<li ng-if="evo.details.party_type"> w/ {{evo.details.party_type.name}} type in party </li>
							<li ng-if="evo.details.party_species"> w/ {{evo.details.party_species.name}} in party </li>
							<li ng-if="evo.details.turn_upside_down"> turn 3DS upside down </li>
						</ul>
					</div>
				</a>

			</div>
	</section>

	<section id="type-effectiveness" class="col-xs-12 col-sm-10 col-sm-offset-1">
		<h3>{{ pokemon.name | capitalize}}'s Type Offenses</h3>
		
		<div ng-repeat="type in typeEffectiveness">
			<h4 class="{{type.name | lowercase}}">{{ type.name }}:</h4>
			<ul ng-if="type.immunes.length">
				<p>No damage against:</p>
				<li class="type {{i | lowercase}}" ng-repeat="i in type.immunes">{{ i }}</li>
			</ul>
			<ul ng-if="type.weaknesses.length">
				<p>Not very effective against:</p>
				<li class="type {{i | lowercase}}" ng-repeat="i in type.weaknesses">{{ i }}</li>
			</ul>
			<ul ng-if="type.strengths.length">
				<p>Super-effective against:</p>
				<li class="type {{i | lowercase}}" ng-repeat="i in type.strengths">{{ i }}</li>
			</ul>
		</div>

	</section>

	<footer class="col-xs-12">
		All pokemon names and likenesses are copyright GameFreak, Pokemon Co., and Nintendo. Used without permission but under Fair Use 17 U.S. Code &sect; 107.
	</footer>

</div>