@font-face {
  font-family: "Pokemon Pixel Font Regular";
  src: url("../assets/fonts/pokemon_pixel_font.eot?") format("eot"), url("../assets/fonts/pokemon_pixel_font.woff") format("woff"), url("../assets/fonts/pokemon_pixel_font.ttf") format("truetype"), url("../assets/fonts/pokemon_pixel_font.svg#Pokemon-Pixel-Font") format("svg");
  font-weight: normal;
  font-style: normal; }
header {
  background: #DD0019;
  padding: 20px;
  height: 170px;
  position: relative;
  margin-bottom: 20px; }
  header::after {
    content: "";
    background: url("../assets/images/pokeborder.png") center no-repeat;
    background-size: auto 50%;
    min-width: 320px;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: -20px;
    left: 0px;
    right: 0px; }
  header #main-logo {
    height: 60px;
    display: block;
    margin: 0 auto 20px auto; }
  header #search-form {
    position: relative; }
    header #search-form span.glyphicon-search {
      position: absolute;
      right: 15px;
      top: 10px;
      color: white;
      font-size: 24px; }
    header #search-form .dropdown-menu {
      width: 100%;
      font-family: "Pokemon Pixel Font Regular";
      font-size: 24px;
      letter-spacing: 1px; }
  header .form-control {
    background: none;
    border: 2px solid white;
    color: white;
    font-size: 32px;
    padding: 20px 15px;
    border-radius: 8px;
    font-family: "Pokemon Pixel Font Regular";
    letter-spacing: 2px;
    line-height: 100%;
    text-transform: capitalize; }

.messages {
  text-align: center;
  padding: 1em;
  font-size: 10px; }

h1, h2, h3 {
  font-family: "Pokemon Pixel Font Regular";
  font-size: 220%;
  color: #6b6b6b; }

.type {
  padding: 5px 0 3px 0;
  text-align: center;
  border-radius: 4px;
  font-family: "Pokemon Pixel Font Regular";
  font-size: 20px;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 100%;
  color: white;
  text-shadow: 0px 1px 0px #6B6B6B; }

.normal {
  background: #BEBEAE; }

.grass {
  background: #89D24E; }

.bug {
  background: #C0D021; }

.poison {
  background: #AB5EA3; }

.flying {
  background: #8AACF4; }

.water {
  background: #56ACFF; }

.ground {
  background: #E7C755; }

.ghost {
  background: #615CC8; }

.dark {
  background: #533F35; }

.rock {
  background: #CDBC71; }

.psychic {
  background: #FA65B3; }

.fire {
  background: #FA5442; }

.steel {
  background: #C4C2DB; }

.fighting {
  background: #A95648; }

.fairy {
  background: #FAAFFF; }

.ice {
  background: #96F1FF; }

.electric {
  background: #FDE33C; }

.dragon {
  background: #8975FF; }

section ul {
  padding: 0;
  margin: 0; }
  section ul li {
    list-style: none; }
section#main-pokemon {
  padding: 0 7px;
  text-align: center;
  border-right: 1px solid #ccc; }
  section#main-pokemon h3 {
    font-size: 18px;
    margin-top: 30px; }
  section#main-pokemon #pokemon-art {
    height: 100px;
    margin-bottom: 10px; }
  section#main-pokemon .type {
    margin-left: 3px;
    margin-right: 0;
    font-size: 95%;
    min-width: 40%;
    display: inline-block; }
section#base-stats {
  padding: 0px;
  overflow-x: scroll;
  overflow-y: hidden; }
  section#base-stats h3 {
    text-align: center;
    margin-bottom: 5px; }
  section#base-stats li {
    height: 23px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: "Pokemon Pixel Font Regular";
    color: #6b6b6b;
    position: relative; }
    section#base-stats li .stat-title {
      font-size: 0px;
      display: inline-block; }
    section#base-stats li .stat-title::after {
      text-align: right;
      width: 45px;
      display: block;
      font-size: 14px;
      top: -3px;
      position: relative; }
    section#base-stats li .stat-no {
      position: relative;
      top: -2px;
      padding-right: 4px;
      width: 28px;
      height: 20px;
      display: inline-block;
      text-align: center; }
    section#base-stats li .stat-bar {
      display: inline-block;
      height: 60%;
      position: absolute;
      top: 3px;
      border-radius: 3px; }
  section#base-stats li.hp .stat-bar {
    background: #D0021B;
    border: 1px solid #95091A; }
  section#base-stats li.hp .stat-title::after {
    content: "HP: "; }
  section#base-stats li.attack .stat-bar {
    background: #F5A623;
    border: 1px solid #BA7A10; }
  section#base-stats li.attack .stat-title::after {
    content: "ATK: "; }
  section#base-stats li.defense .stat-bar {
    background: #F8E71C;
    border: 1px solid #B8AC14; }
  section#base-stats li.defense .stat-title::after {
    content: "DEF: "; }
  section#base-stats li.special-attack .stat-bar {
    background: #7ED321;
    border: 1px solid #5CA60A; }
  section#base-stats li.special-attack .stat-title::after {
    content: "SATK: "; }
  section#base-stats li.special-defense .stat-bar {
    background: #4A90E2;
    border: 1px solid #2468B7; }
  section#base-stats li.special-defense .stat-title::after {
    content: "SDEF: "; }
  section#base-stats li.speed .stat-bar {
    background: #ED94FF;
    border: 1px solid #D24BED; }
  section#base-stats li.speed .stat-title::after {
    content: "SPD: "; }
section#evolution-chain {
  margin-top: 10px; }
  section#evolution-chain .evo-chain-link {
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    width: 33.33%; }
    section#evolution-chain .evo-chain-link .evo-item::before {
      content: "";
      background: #d8d8d8;
      border: 1px solid #979797;
      border-radius: 100px;
      height: 70px;
      width: 70px;
      display: inline-block;
      margin: 0 auto;
      z-index: -1; }
    section#evolution-chain .evo-chain-link .evo-item {
      text-align: center;
      position: relative;
      color: #6b6b6b;
      cursor: pointer; }
      section#evolution-chain .evo-chain-link .evo-item img {
        position: absolute;
        z-index: 3;
        top: -10px;
        left: 51%;
        transform: translateX(-50%); }
      section#evolution-chain .evo-chain-link .evo-item strong {
        display: block;
        margin-top: 10px;
        text-decoration: underline; }
      section#evolution-chain .evo-chain-link .evo-item .evo-item-name {
        text-transform: capitalize; }
section#type-effectiveness h4 {
  width: 100%;
  font-size: 200%;
  padding: 4px 0;
  text-align: center;
  border-radius: 4px;
  font-family: "Pokemon Pixel Font Regular";
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  text-shadow: 0px 1px 0px #6B6B6B; }
section#type-effectiveness .type {
  width: 32.33%;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 1.5%; }
  section#type-effectiveness .type:nth-child(3n+1) {
    margin-right: 0; }

footer {
  border-top: 1px solid #ccc;
  margin-top: 1em;
  padding: 1em 0;
  color: #A9A9A9;
  font-family: "Pokemon Pixel Font Regular";
  text-align: center;
  letter-spacing: 1px;
  font-size: 13px; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .messages img {
    width: 35px; }

  header {
    height: 210px; }
    header::after {
      background-size: auto 80%; }
    header #main-logo {
      height: 90px; }
    header #search-form {
      width: 60%;
      margin: 0 auto; }
      header #search-form .form-control {
        height: 50px;
        font-size: 45px; }

  section#main-pokemon h3 {
    font-size: 30px; }
  section#main-pokemon #pokemon-art {
    height: 200px; }
  section#main-pokemon .type {
    min-width: 25%;
    font-size: 150%;
    margin: 0 5px; }

  section#base-stats {
    padding: 0 30px; }
    section#base-stats h3 {
      font-size: 40px; }
    section#base-stats li {
      height: 40px;
      font-size: 30px; }
      section#base-stats li .stat-no {
        width: 40px; }

  section#evolution-chain {
    text-align: center; }
    section#evolution-chain h3 {
      text-align: center;
      font-size: 40px;
      margin-top: 30px; }
    section#evolution-chain .evo-chain-link {
      display: inline-block;
      vertical-align: top;
      width: 20%; }
      section#evolution-chain .evo-chain-link:nth-child(2n+1) {
        margin-left: 80px;
        margin-right: 80px; }
      section#evolution-chain .evo-chain-link .evo-item::before {
        height: 96px;
        width: 96px; }
      section#evolution-chain .evo-chain-link img {
        width: 144px;
        top: -21px !important; }

  section#type-effectiveness .type {
    width: 15.82%;
    margin-right: 1%;
    margin-bottom: 1%; }
    section#type-effectiveness .type:nth-child(3n+1) {
      margin-right: 1%; }
    section#type-effectiveness .type:nth-child(6n+1) {
      margin-right: 0px; }

  footer {
    font-size: 20px; } }
