@font-face {
  font-family: "Pokemon Pixel Font Regular";
  src: url("../assets/fonts/pokemon_pixel_font.eot?") format("eot"), url("../assets/fonts/pokemon_pixel_font.woff") format("woff"), url("../assets/fonts/pokemon_pixel_font.ttf") format("truetype"), url("../assets/fonts/pokemon_pixel_font.svg#Pokemon-Pixel-Font") format("svg");
  font-weight: normal;
  font-style: normal; }
#main-logo {
  height: 60px;
  display: block;
  margin: 0 auto 20px auto; }

#pokemon-art {
  width: 100%; }

header {
  background: #DD0019;
  padding: 20px;
  height: 170px;
  position: relative;
  margin-bottom: 20px; }
  header::after {
    content: "";
    background: url("../assets/images/pokeborder.png") center no-repeat;
    background-size: auto 50%;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: -20px;
    left: 0px; }
  header .form-control {
    background: none;
    border: 2px solid white;
    color: white;
    font-size: 40px;
    padding: 20px;
    border-radius: 8px;
    font-family: "Pokemon Pixel Font Regular";
    letter-spacing: 2px;
    line-height: 110%;
    text-transform: capitalize; }

.messages {
  text-align: center;
  padding: 1em;
  font-size: 10px; }

h1, h2, h3, h4, h5 {
  font-family: "Pokemon Pixel Font Regular";
  font-size: 250%;
  color: #6b6b6b; }

section ul {
  padding: 0;
  margin: 0; }
  section ul li {
    list-style: none; }
section#main-pokemon {
  text-align: center; }
section#evolution-chain ul {
  padding: 0;
  margin: 0; }
  section#evolution-chain ul li strong {
    display: block; }

footer {
  border-top: 1px solid #ccc;
  margin-top: 1em;
  padding-top: 1em; }
